@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
.title{
  font-family: 'Dongle', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 4rem;
}
button{
  font-weight: 700;
  font-family: 'Dongle', sans-serif;
  position: absolute;
  left: 45%;
  font-size: 3vw;
  border-radius: 50%;
  border: 1vw  thin solid grey;
}

