@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
.title{
  font-family: 'Dongle', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 5vw;
}
button{
  font-weight: 700;
  font-family: 'Dongle', sans-serif;
  position: absolute;
  left: 45%;
  font-size: 3vw;
  border-radius: 50%;
  border: 1vw  thin solid grey;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-row: 4;
  gap: 1vw 1vw;
}
.turns{
  font-family: 'Dongle', sans-serif;
  font-weight: 700;
  font-size: 5vw;
}
.card-front{
  height: 15vh;
  width: 12vw;
}
.card-back{

  height: 15vh;
  width: 12vw;
}
