@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
.title{
  font-family: 'Dongle', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 5vw;
  position: relative;
}
button{
  font-weight: 700;
  font-family: 'Dongle', sans-serif;
  position: absolute;
  left: 45%;
  font-size: 3vw;
  border-radius: 50%;
  border: 1vw  thin solid grey;
}
.score{
  font-family: 'Dongle', sans-serif;
  font-weight: 700;
  font-size: 5vw;
  position: absolute;
  top: 0%;
  right: 0%;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-row: 4;
  gap: 1vw 1vw;
  position: relative;
}
.turns{
  font-family: 'Dongle', sans-serif;
  font-weight: 700;
  font-size: 5vw;
}
.card-front{
  height: 15vh;
  width: 15vw;
  transform:rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .card-front{
  transform: rotate(0deg);
}

.card-back{
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  height: 15vh;
  width: 15vw;
}

.flipped .card-back{
  transform: rotateY(90deg);
  transition-delay: 0s;
}

